@using Microsoft.AspNetCore.Identity

@model IEnumerable<RpgApplication.Models.GameModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNoOverFlow.cshtml";

}
<div class="text-white">
    <h2 class="card-title">Gry</h2>
    <table class="table text-white">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GameName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoURL)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (ViewBag.IsAdmin == true)
                {
                    <td>
                        <a style="color:inherit" asp-action="AddUserToGame" asp-route-Id="@item.Id">@Html.DisplayFor(modelItem => item.GameName)</a>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.GameName)
                    </td>
                }
                <td>
                    <a href="/ShowGame/@item.Id">
                        <img width="100" height="100" src="@Url.Content(item.PhotoURL)" />
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewBag.IsAdmin == true)
{
    <a style="color:white" asp-action="Create">Dodaj nową grę</a>
}