@model IEnumerable<RpgApplication.Models.GameMessages>

@{
    ViewData["Title"] = "ShowGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card text-dark text-center mt-5 mx-auto opacity-card">
    <img class="card-img"
         src="https://raw.githubusercontent.com/vicberg/Roll20-Warhammer-4e-Character-Sheet/master/background.jpg"
         alt="Card image">
    <div class="card-img-overlay">
        <h2 class="card-title">Trwająca sejsa</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm">
                        @Html.DisplayFor(modelItem => item.Message)
                </div>
                <div class="col">
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.User.UserName)
                        @Html.DisplayFor(modelItem => item.MessageDate)
                    </div>
                    <div class="row">
                        <a href="/ShowGame/@item.Id">
                            <img src="@Url.Content(item.User.Characters.FirstOrDefault().CharacterAvatarURL)" />
                        </a>
                    </div>
                    <div class="row align-items-center">
                        @Html.DisplayFor(modelItem => item.User.Characters.FirstOrDefault().CharacterName)
                    </div>
                </div>
            }
        </div>
    </div>

</div>
