@model IEnumerable<RpgApplication.Models.GameMessages>

@{
    ViewData["Title"] = "ShowGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GameMessages message = ViewBag.MyMessage;
}
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="richtext.min.css">
</head>
<body>
    <div class="card text-dark text-center mt-5 mx-auto opacity-card">
        <img class="card-img"
             src="https://raw.githubusercontent.com/vicberg/Roll20-Warhammer-4e-Character-Sheet/master/background.jpg"
             alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title">Trwająca sejsa</h2>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm">
                        @Html.DisplayFor(modelItem => item.Message)
                    </div>
                    <div class="col-2">
                        <div class="row">
                            @Html.DisplayFor(modelItem => item.User.UserName)
                            @Html.DisplayFor(modelItem => item.MessageDate)
                        </div>
                        <div class="row">
                            @{
                                var PostingUser = item.User.Characters.FirstOrDefault();
                            }
                            <a asp-controller="CharacterCreation" asp-action="CharacterSheet" asp-route-CharacterId="@PostingUser.Id">
                                <img src="@Url.Content(PostingUser.CharacterAvatarURL)" />
                            </a>
                        </div>
                        <div class="row align-items-center">
                            @Html.DisplayFor(modelItem => PostingUser.CharacterName)
                        </div>
                    </div>
                </div>
            }
            <form asp-controller="Games" asp-action="AddMessage" asp-route-model="@message">
                <div class="row-sm">
                    <div class="col-sm">
                    <input class="" type="text" id="messageInput" asp-for="@message.Message"/></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-sm">
                        <input type="button" id="sendButton" value="Napisz" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>

